Source: yprfib
Maintainer: Krzysztof Bieleń <kzeslaf@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: yprfib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: count Nth fibonacci number
 yprfib counts Nth fibonacci number
